{% assign os = page.name | replace: ".md","" %}

{% if os == 'linux' %}
    {% assign collection = site.linux %}
{% elsif os == 'win' %}
    {% assign collection = site.win %}
{% else %}
    {% assign collection = site.osx %}
{% endif %}

<h1>Installation instructions for {{ page.title }}</h1>

<div class="row">
    <div class="col-md-12">
        <ul>
            {% for x in collection %}
                <li><a href="#{{ x.title | lowercase | replace: " ","-" }}">{{ x.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% for x in collection %}
            <br>
            <br>
            <h2 id="{{ x.title | lowercase | replace: " ","-" }}">{{ x.title }}</h2>
            {{ x }}
        {% endfor %}
    </div>
</div>
