click==8.1.7
ipywidgets==8.1.5
jupyterlab==4.4.0
jupyterlab-git==0.51.1
matplotlib==3.10.1
myst-parser==4.0.1
nbdime==4.0.2
numpy==2.2.4
pandas==2.2.3
pytest==8.3.5
pytest-cov==6.0.0
seaborn==0.13.2
snakemake==9.1.7
sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinx_rtd_theme==3.0.1
sphinx-autodoc2==0.5.0
